.form-container {
    border-radius: 12px;
    background: #fff;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    align-self: stretch;
    display: flex;
    margin-top: 35px;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    padding: 55px 56px 26px;
  }
  
  .form-row {
    display: flex;
    width: 961px;
    max-width: 100%;
    gap: 20px;
    color: #2B2B2B;
    flex-wrap: wrap;
    justify-content: space-between;
    font: 700 16px Poppins, sans-serif;
  }
  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
  }
  .input-field {
    border-radius: 12px;
    background: #E9E9E9;
    height: 44px;
  }
  
  .input-field-large {
    width: 613px;
  }
  
  .input-field-medium {
    width: 221px;
  }
  
  .input-field-small {
    width: 220px;
  }
  .input-group {
    align-self: flex-start;
    display: flex;
    gap: 40px 100px;
  }
  .date-field {
    width: 516px;
    padding: 9px 80px;
  }
  .button-group {
    align-self: flex-end;
    display: flex;
    margin-top: 22px;
    width: 394px;
    max-width: 100%;
    gap: 19px;
    text-align: center;
    font: 16px Poppins, sans-serif;
  }  